# Ignorar archivos temporales de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz

# Ignorar carpetas temporales
_build/
output/

# Ignorar archivos del sistema macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
